
{% extends 'base.html' %} 



{% block title %}
Home
{% endblock title %}


  

{% block main %}



    <div class="row">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-6">
            <h1>{{ request.session.message }}</h1>
        </div>
        <div class="col-md-3">

        </div>

        <button class="btn">
           {{ result }}  <span class="badge badge-primary"></span>
        </button>

    </div>

    <div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>


      
{% endblock main %}