
{% extends 'base.html' %} 



{% block title %}
Home
{% endblock title %}
  

{% block main %}

    <div class="row">
        <div class="col-md-3">
           <h2>Bem vindo a Home 4, {{texto}}</h2>
            
        </div>
        <div class="col-md-6">
            <h1>Seja Bem-vindo!</h1>

            <form action="" method="post">

                {% csrf_token %}
                <button type="submit">Enviar</button>
            </form>



        </div>
        <div class="col-md-3">
            {% if user.is_authenticated %}

                Olá {{ user.username }}  

                <a href=" {% url 'logout' %} " class="btn btn-danger btn-sm">Sair</a>

            {% else %}
                <a href=" {% url 'login' %} " class="btn btn-info">Login</a>
            {% endif %}
        </div>

        <button class="btn">
           {{ result }}  <span class="badge badge-primary"></span>
        </button>

    </div>    


      
{% endblock main %}

{% block footer %}
    {% include 'footer.html' with v1="Developer Dácio Lima"%}
{% endblock %}
