
{% extends 'base.html' %} 

{% load bootstrap %}



{% block title %}
Home
{% endblock title %}
  

{% block main %}



  <div class="col-md-3">
    
  </div>

  <div class="col-md-6 form">
      <h2>Tela de Login</h2>

        
      <h2>Login</h2>

      <form method="POST">
          {% csrf_token %}
          {{ form|bootstrap }}
          <button class="btn btn-info" type="submit">Login</button>
      </form>
    
  </div>

  <div class="col-md-3">
    
 

     
   
  </div>          
      
{% endblock main %}


{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Sistema Cadastro Cliente.</span>
        </div>
    </footer>
{% endblock %}
