{% extends 'base.html' %}


{% block main %}

    DashBoard

<button class="btn">
    Média: <span class="badge badge-primary">{{ media }}</span>
    Desconto Média: <span class="badge badge-primary">{{ media_desc }}</span>
    Mínino: <span class="badge badge-primary">{{ min }}</span>
    Máximo: <span class="badge badge-primary">{{ max }}</span>
    Count: <span class="badge badge-primary">{{ qtd_ped }}</span>
    Count_NFE: <span class="badge badge-primary">{{ qtd_ped_nfe }}</span>
</button>


{% endblock %}