<h2>Tem certeza que deseja excluir o pedido {{ sale }}</h2>

    <form action="{% url 'delete_pedido_cbv' sale.id %}" method="post">

        {% csrf_token %}
        <button type="submit">confirma?</button>

    </form>