<h2>Tem certeza que deseja excluir o item {{ item }}</h2>

    <form action="{% url 'delete_item_pedido_cbv' item.id %}" method="post">

        {% csrf_token %}
        <button type="submit">confirma?</button>

    </form>