{% extends 'base.html' %}


{% block main %}

    <h1>Editar Item Pedido {{ item_pedido }}</h1>

        <form action=" {% url 'edit_item_pedido_cbv' item.id %}" method="post">
            {% csrf_token %}
            {{ form }}

            <button type="submit">Atualizar</button>

        </form>

{% endblock %}