{% extends 'base.html' %}


{% block main %}
    <h2>Listagem de vendas</h2>

    <p>Total: {{ count_sales }} sal{{ count_sales|pluralize:"e,es" }}</p>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Numero</th>
          <th scope="col">Desconto</th>
          <th scope="col">Valor</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.num_sale }}</td>
                <td>{{ sale.desconto }}</td>
                <td>{{ sale.valor }}</td>
                <td>
                    <a href="{% url 'edit_pedido_cbv' sale.id %}">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete_pedido_cbv' sale.id %}">
                        Excluir
                    </a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>


<a href="{% url 'novo_pedido_cbv' %}">Nova venda</a>
{% endblock %}