{% extends 'base.html' %}
{% load bootstrap %}


{% block main %}

<div class="container">

    <h2>Novo pedido<span class="badge badge-primary"></span></h2>
    
        {% if message %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ message }}</strong>
            </div>
        {% endif %}
    
    <div class="jumbotron">

    <form method="POST" action="{% url 'novo_pedido_cbv' %}">
            {% csrf_token %}
            <h3>Pedido número: <b>{{ sale_obj.id }}</b></h3>
            <input type="text" name="num_sale" class="form-control" placeholder="Número" value="{{num_sale}}">

            <label for="desconto">Desconto</label><br>
            <input type="text" name="desconto" id="desconto" value="{{desconto}}"
                   placeholder="Desconto" class="form-control">

            <input type="hidden" value="{{sale_obj.id}}" name="sale_id">

            <br>
            <button type="submit" class="btn btn-info">Enviar</button>
        </form>

        <b>Total:</b> {{ sale_obj.valor }} <br/>
        <b>Desconto:</b> {{ sale_obj.desconto }}

    </div>
</div>

{% endblock %}

{% block extra %}

{% if sale_obj %}
<div class="container">
    <div class="jumbotron">
         <h3>Incluir item</h3>
            <form action="{% url 'novo_item_pedido_cbv' sale_obj.id %}" method="POST">
                {% csrf_token %}
                {{ form_item|bootstrap }}
                <button class="btn btn-info">Incluir</button>
            </form>
    </div>
</div>

<div class="container">
    <h2>Lista de itens</h2>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Descricao</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Desconto</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>
        {% for item in itens %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.product.description }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.desconto }}</td>
                 <th scope="col">
                    <a href="{% url 'edit_item_pedido_cbv' item.id %}">Editar</a>
                </th>
                <th scope="col">
                    <a href="{% url 'delete_item_pedido_cbv' item.id %}">Excluir</a>
                </th>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}

</div>

{% endblock %}