
{% load my_tags %}
{% load filters %}


<footer class="footer">

      <div class="container">

        <span class="text-muted"> {% footer_message %} {% current_time "%d/%m/%Y %I:%M:%p" as the_time  %} - {{ the_time }}</span>
        <br/>
      </div>
</footer>
