{% extends 'base.html' %} 


{% load filters %}

{% load my_tags %}


      

    
    {% block main %}

    <div class="row form">

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" id="nome" name="nome" placeholder="nome" aria-label="Search">
            <input class="form-control mr-sm-2" type="search" id="sobrenome" name="sobrenome" placeholder="sobrenome" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>

    </div>

    <div class="row form">

        <div class="col-md-12">

            <h3>Listagem de Clientes</h3>



                        <table class="table table-striped table-inverse table-responsive">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>Código</th>
                                        <th>Nome</th>
                                        <th>Idade</th>
                                        <th>Opções</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        
                                            {% for person in persons  %}
                                            <tr>
                                                
                                                <td scope="row"><a href="{% url 'person_update' person.id %}">{{ person.id }}</a> </td>
                                                <td><a href="{% url 'person_update' person.id %}">{{ person.nome_completo|title }}</a> </td>
                                                    <td><a href="{% url 'person_update' person.id %}">{{ person.age }} </a></td>   
                                                <td><a href="{% url 'person_delete' person.id %}"><i class="far fa-trash-alt trash-item"></i></span></a></td>               
                                            </tr>

                                            {% empty %}
                                                <li>Desculpe, nenhum cliente cadastrado!</li>
                                            {% endfor %}   
                                        
                                        
                                    </tbody>
                        </table>
        </div>                   
            
    </div>
            

                <br>

                <a href="{% url 'person_new' %}" class="btn btn-info">Novo Cliente </a></li>    


        
        {% filter force_escape|lower %}
            Esse framework é o Django 2.2
        {% endfilter %} <br/>

        {% if persons|length >= 20 %}
            Você tem mais de 20 clientes!
        {% endif %}<br/>






        {{ 123.3445|arredonda:2 }}




        {% endblock %}


        {% block footer %}

        {% include 'footer.html'%}

        {% endblock %}
