
{% extends 'base.html' %}

{% load bootstrap %}



{% block title %} Administracao {% endblock %}



{% block main %}

    <div class="row form">
        
        <div class="col-md-3">
            
        </div>
        <div class="col-md-6">
                <form method="POST" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-info">Salvar</button>
            
                </form>
        </div>
         

        <div class="col-md-3">

               
                

        </div>


    </div>

    

{% endblock %}  



{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Sistema Cadastro Cliente.</span>
        </div>
    </footer>
{% endblock %}
    
    