{% extends 'base.html' %}


{% block title %} Confirmacao {% endblock %}

{% block main %}
    <h1>Tem certeza que deseja eletar {{ person.first_name }} ?</h1>
        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            
            <button type="submit">Delete</button>
    
        </form>
      
{% endblock %}