{% extends 'base.html' %}


{% block main %}
    <br/>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success"  type="submit" value="enviar">
    </form>

    <a class="btn btn-secondary" href="{% url 'person_list_cbv' %}" role="button">Cancelar</a>




{% endblock %}