{% extends 'base.html' %}


{% block main %}
<h1>Detalhes de pessoa</h1>

<li>Nome: {{ object.first_name }}</li>
<li>Sobrenome: {{ object.last_name }}</li>
<li>Documento: {{ object.doc }}</li>

<br/>
<h5>Venda:</h5>
{% for venda in vendas %}


    <p>Pedido Venda: {{ venda.id }}</p>

    <h6>Itens da venda</h6>

    {% for produto in vendas.itens.all %}
        {{ produto.id }} - {{ produto.description}}
    {% endfor %}

{% endfor %}


    <br/>
    {{ now|date }}

<a class="btn btn-warning" href="{% url 'person_update_cbv' person.pk %}" >Update</a>
<a class="btn btn-danger" href="{% url 'person_delete_cbv' person.pk %}" role="button">Delete</a>
<a class="btn btn-secondary" href="{% url 'person_list_cbv' %}" role="button">Voltar</a>



{% endblock %}