{% extends 'base.html'%}


{% block main %}

    <form action="" method="post">
        {% csrf_token %}
        <p> Você tem certeza que deseja apagar "{{ object }}"?</p>
        <button type="submit" class="btn btn-info" value="confirm">Delete</button>
        <a href="{% url 'person_detail_cbv' person.pk%}" class="btn btn-info">Cancelar</a>
    </form>

{% endblock %}