{% extends 'base.html' %}

{% block main %}


    <h1>Listagem de pessoa</h1>

      {{ message }}
    <ul class="justify-content-center">

        {% for person in object_list %}

            <li class="nav-item">
                <a class="nav-link active"  href="{% url 'person_detail_cbv' person.pk %}"> {{ person }} </a>
            </li>

        {% endfor %}

    </ul>

    <a name="" id="" class="btn btn-info" href="{% url 'person_create_cbv' %}" role="button">Novo Cliente</a>


{% endblock %}





