{% extends 'base.html'%}


{% block main %}

    <form action="" method="post">
        {% csrf_token %}
        {% form.as_p %}
        <button type="submit" class="btn btn-info">Update</button>
    </form>

{% endblock %}